<ion-content>

    <div class="bg-grad">
            <ion-grid>
                    <ion-row align-items-center>
                      <ion-col>
                          <!-- Back button -->
                          <img src="https://png.icons8.com/ios/24/ffffff/left-filled.png" (click)="back()">
                      </ion-col>
                      <ion-col>
                        <p class="text-right fw-900">{{category.cat_title}}</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
            
                  <div class="text-center">
                        <p *ngIf="product.type == 'sell'" class="m-0 up fw-700">Purchase {{product.title}} for only ${{product.price}}</p>
                        <p *ngIf="product.type == 'rent'" class="m-0 up fw-700">Rent {{product.title}} for only ${{product.price}} / day</p>
                        <p *ngIf="product.type == 'giveaway'" class="m-0 up fw-700">Get {{product.title}} for free</p>
                        <p class="m-0 p-t-5 fs-10">in {{product.location}}</p>
                    </div>
              
                <!-- Picture -->
              <div *ngIf="product.image" [style.background-image]="getBackground(product.image)" class="bg-white relative m-l-30 m-r-30 m-t-30 shadow-big" style=" background-size:cover; background-position:center; height:300px;">
                    <img src="https://png.icons8.com/ios-glyphs/24/333333/conference-call.png" class="ov-l-t m-t--20 bg-white p-10 round-big" (click) = "share()">
                    <img *ngIf="!isFav" src="https://png.icons8.com/ios-glyphs/24/333333/two-hearts.png" class="ov-r-t m-t--20 bg-yellow p-10 round-big" (click) = "favourite(product.id)">
                <img *ngIf="isFav" src="https://png.icons8.com/ios-glyphs/24/ffffff/--broken-heart.png" class="ov-r-t m-t--20 bg-dark p-10 round-big" (click) = "removeFavourite(product.id)">
              </div> 
              
              <div class="m-t--50 p-t-20 p-b-20 relative z-shi vertical-align">
                    <span *ngIf="product.condition == 'new'" class="m-r-5 m-l-5">
                          <img class="bg-yellow p-5" src="https://png.icons8.com/ios/14/333333/gift.png">
                          <span class="fs-11 p-5">
                                  New
                          </span>
                    </span>
                    <span *ngIf="product.warranty == true" class="m-r-5 m-l-5">
                          <img class="bg-yellow p-5" src="https://png.icons8.com/ios/14/333333/guarantee.png">
                          <span class="fs-11 p-5">
                              Warranty
                          </span>
                    </span>
                    <span *ngIf="product.featured == true" class="m-r-5 m-l-5">
                            <img class="bg-yellow p-5" src="https://png.icons8.com/ios/14/333333/approval.png">
                            <span class="fs-11 p-5">
                                Featured
                            </span>
                      </span>
                      <span *ngIf="product.shipping == true" class="m-r-5 m-l-5">
                            <img class="bg-yellow p-5" src="https://png.icons8.com/ios/14/333333/shipped.png">
                            <span class="fs-11 p-5">
                                Shipping
                            </span>
                      </span>
                  </div>
                
              </div>
    

      <ion-row class="buttons-row text-center p-t-10 p-b-5 relative z-shi bg-main border-b">
        <ion-col (click)="trade()">
            <img src="https://png.icons8.com/ios-glyphs/24/333333/synchronize.png">
            <p class="m-0 fs-10 up">Trade</p>
        </ion-col>
        <ion-col (click)="offer()">
            <img src="https://png.icons8.com/ios-glyphs/24/333333/cash-in-hand.png">
            <p class="m-0 fs-10 up">Offer</p>
        </ion-col>
        <ion-col *ngIf="!showDescription" (click)="description()">
            <img src="https://png.icons8.com/ios-glyphs/24/333333/add-property-1.png">
            <p class="m-0 fs-10 up">Description</p>
        </ion-col>
        <ion-col *ngIf="showDescription" (click)="description()">
            <img src="https://png.icons8.com/ios-glyphs/24/333333/collapse-arrow.png">
            <p class="m-0 fs-10 up">Close</p>
        </ion-col>
        <ion-col (click)="map()">
                <img src="https://png.icons8.com/ios-glyphs/24/333333/map-marker.png">
                <p class="m-0 fs-10 up">Map</p>
            </ion-col>
        <ion-col (click)="phone(product_user_profile.phone)">
            <img src="https://png.icons8.com/ios-glyphs/24/333333/ringer-volume.png">
            <p class="m-0 fs-10 up">Phone</p>
        </ion-col>
        
      </ion-row>

      <!-- Description -->
    <div *ngIf="showDescription" class="p-15 bg-white border-t" [innerHTML]="product.body">
    </div>    

    <ion-grid class="p-10 bg-white">
        <ion-row align-items-center class="fs-12">
            <ion-col col-1>
                <img src="https://png.icons8.com/metro/15/dedede/time.png">
            </ion-col>
            <ion-col col-6>
                <p>{{product.date | date: 'dd MM yyyy - H:mm'}}</p>
            </ion-col>
            <ion-col col-1 offset-3>
                <img src="https://png.icons8.com/metro/13/dedede/speech-bubble.png">
            </ion-col>
            <ion-col col-1>
                {{comments_length}}
            </ion-col>
        </ion-row>
    </ion-grid>

  <!-- Comments -->
  <ion-grid class="p-l-10 p-r-10 bg-white">
      <div *ngIf="!user_id" class="text-center p-20" (click)="directTologin()">
          Login to join conversation
      </div>
    <ion-row class="v-center p-t-10 p-b-10 border-top" *ngIf="user_id">
      <ion-col col-10>
        <input type="text" class="full-width bg-light no-border p-t-10 p-b-10 p-l-20 round-big" [(ngModel)]="comm" placeholder="Leave a comment..." id="focusTo">
      </ion-col>
      <ion-col col-2 class="text-center" (click)="postComment(comm)">
        <img src="https://png.icons8.com/metro/25/999999/sent.png">
      </ion-col>
    </ion-row>

    <ion-row class="v-center p-t-10 p-b-10 border-top bg-white" *ngFor="let comment of comments | slice:0:comments_start" (click)="reply(comment.sender_name, comment.sender)">
      <ion-col col-2>
        <img class="round-big" src="{{comment.sender_image}}" width="35" height="35">
      </ion-col>
      <ion-col col-9>
        <p class="m-0 fw-700 fs-10">{{comment.sender_name}}</p>
        <p class="m-0 text-gray">{{comment.text}}</p>
      </ion-col>
      <ion-col col-1 *ngIf="comment.sender != user_id && user_id">
        <img src="https://png.icons8.com/ios/15/999999/left2-filled.png">
      </ion-col>
    </ion-row>

    <div class="text-center p-30" *ngIf="comments_start < comments.length">
            <a class="text-center round-small p-10 bg-main border-d" (click)="loadMoreComments()">Older comments</a>
      </div>

  </ion-grid>

  <div class="text-center p-30">
        <a class="text-center round-small p-10 bg-yellow" (click)="report()">Report this product</a>
  </div>


</ion-content>
