<ion-content>

    <div class="bg-grad">

        <ion-fab right bottom>
            <button ion-fab mini class="bg-grad" (click)="addPage()">
                <img src="https://png.icons8.com/ios/34/ffffff/plus-math.png">
            </button>
          </ion-fab>

        <ion-grid>
                <ion-row align-items-center>
                  <ion-col>
                      <!-- Back button -->
                      <img src="https://png.icons8.com/ios/24/ffffff/left-filled.png" (click)="back()">
                  </ion-col>
                  <ion-col>

                      <p class="fw-900 m-0 text-right">{{category.cat_title}}</p>

                  </ion-col>
                </ion-row>
          </ion-grid>

      </div>

      <p class="p-l-20">{{category.tagline}}</p>
 
    
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let product of products" class="p-0 m-b-20">
            <a (click)="singlePage(product.id)" class="block m-5">
                <div *ngIf="product.image" [style.background-image]="getBackgroundFaded(product.image)" style="background-size:cover; background-position:center; height:120px;width:100%;" class="relative round-small shadow-small">
                    <div class="ov-l-t">
                        <div><img *ngIf="product.type == 'sell'" class="bg-white p-5" src="https://png.icons8.com/ios/14/333333/tags-filled.png"></div>
                        <div><img *ngIf="product.type == 'rent'" class="bg-white p-5" src="https://png.icons8.com/ios/14/333333/car-rental-filled.png"></div>
                        <div><img *ngIf="product.type == 'giveaway'" class="bg-white p-5" src="https://png.icons8.com/ios/14/333333/wedding-gift-filled.png"></div>
                    </div>
                </div>
                <div class="text-left p-5 fw-900">
                    <p class="up fs-11 m-0 m-b-5">{{product.title}}</p>
                    <p class="m-0 fw-900 fs-12">${{product.price}}</p>
                </div>
              </a>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h5 *ngIf="products.length == 0" class="p-50 text-center">No products in {{category.cat_title}} category. Submit the first one.</h5>

</ion-content>
